<form id="drexel-login-form" method="POST" action="/auth">
  <div class="form-group">
    <label for="drexel-login">Login</label>
    <input type="email" class="form-control" id="drexel-login" name="login" placeholder="Enter login">
  </div>
  <div class="form-group">
    <label for="drexel-password">Password</label>
    <input type="password" class="form-control" id="drexel-password" name="password" placeholder="Password">
  </div>
  <button id="drexel-login-submit" type="submit" class="btn btn-primary">Enter</button>
</form>
