<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Drexel</title>

    <script src="/js/jquery/jquery.js"></script>
    <script src="/js/popper/popper.js"</script>
    <script src="/js/bootstrap/bootstrap.js"></script>
    <script src="/js/react/react.development.js"></script>
    <script src="/js/react-dom/react-dom.development.js"></script>
    
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="drexel-login-form"></div>
        </div>
      </div>
    </div>

    <script src="/js/app.js"></script>

  </body>

</html>
